# Dependencies
node_modules/

# Build output
public/js/
out/
.shadow-cljs/

# Clojure
.cpcache/
.nrepl-port

# IDE
.idea/
*.iml
.vscode/
.clj-kondo/
.lsp/
.claude/

# Tauri
desktop/src-tauri/target/

# OS
.DS_Store
Thumbs.db
manual-output/
